<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"  media="all">
<!--    <link rel="stylesheet" th:href="@{/static/css/treetable.css}"  media="all">-->
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="xm">
    <div class="xm-d1">
        <p class="xm-d1-p">权限管理</p>
    </div>

    <div class="xm-d2">
        <div class="xm-d2-hang1">
            <div class="pzright" style="width:101%;display: flex;justify-content: flex-start;float:right;">
                <p class="xm-d1-p2">
                    <button id="add" onclick="addPermission()" class="layui-btn layui-btn-radius btnys"><i class="layui-icon"></i>添加</button>
                    <button class="layui-btn" id="btn-expand">全部展开</button>
                    <button class="layui-btn" id="btn-fold">全部折叠</button>
                    <button class="layui-btn" id="btn-refresh">刷新表格</button>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="xm-d2-hang2">
            <table id="menuTreeTable" class="layui-table" lay-filter="tableEvent"></table>
        </div>
    </div>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.config({
        base: '/static/js/tableTree/'
    }).extend({
        tableEdit:'tableEdit'  //表格树依赖我另外写的tableEdit模块，本项目就有。
        ,tableTree:'tableTree'
    }).use(['table','layer','tableEdit',"tableTree"], function () {
        var table = layui.table
            ,$ = layui.$
            ,tableEdit = layui.tableEdit
            ,tableTree = layui.tableTree;

        var treeTable = tableTree.render({
            elem: '#menuTreeTable'
            ,id:'tableTree'
            ,url:'/vast/menu/listMenu'
            ,cellMinWidth: 80
            // ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            // ,toolbar: 'default'
            ,treeConfig: {
                showField: 'menuCode'
                ,treeid: 'menuCode'
                ,treepid: 'parentCode'
                ,iconClass:'layui-icon-triangle-r' //小图标class样式 窗口图标 layui-icon-layer
            }
            ,page: false
            ,cols: [
                [
                    {type: 'id', title: 'ID'},
                    {field: 'menuCode', title: '编号'},
                    {field: 'parentCode', title: '上级编号'},
                    {field: 'menuName', title: '资源名称'},
                    {field: 'menuUrl', title: '资源路径'},
                    {field: 'remark', title: '资源简介'},
                    {field: 'sortNo', title: '排序'},
                    {field: 'menuType', title: '类型',
                        templet: function(d){
                            if(d.menuType==0){
                                return '菜单';
                            }else{
                                return '按钮';
                            }
                        }
                    }
                ]
            ]
        });

        var active = {
            notice: function(){
                //示范一个公告层
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    title: '添加用户',
                    closeBtn: 1, //不显示关闭按钮
                    anim: 2,
                    area: ['700px', '500px'],
                    shadeClose: true, //开启遮罩关闭
                    content: '/vast/menu/addMenuPage'
                    ,success: function(layero){
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').attr({
                            href: 'http://www.layui.com/'
                            ,target: '_blank'
                        });
                    }
                });
            }
        };

        table.on('sort(menuTreeTable)',function (obj) {
            tableTree.sort({
                field:obj.field
                ,desc:obj.type === 'desc'
            });
        });

        treeTable.on('tool(tableEvent)',function (obj) {
            console.log(obj,'test');
            var fied  =  obj.field;  //  单元格字段
            var value = obj.value;  //修改后的值
            var data = obj.data;    //当前行数据
            var event = obj.event;  //当前单元格事件

            if(event === 'add') {
                setTimeout(function () {
                    active.notice();
                    //在此模拟ajax异步的请求，返回数据调用以下函数。
                    //该方法新增下级节点，可以直接新表格树。
                    obj.add(rs);
                },500)
            }
            if(event === 'del') {
                obj.del();
            }
            if(event === 'update') {
                obj.update(value);
            }

        });
    });
</script>

</body>
</html>